.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.square {
    min-height: 25px;
    min-width: 25px;
    border: 1px solid black;
}