.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    padding: 10px;
}

.row {
    display: flex;
    height: 6.25%;
    width: 720px;
}

.square {
    flex: auto;
    width: 6.25%;
    border: 1px solid black;
}

.newGrid {
    margin: 25px;
}